.layui-elem-quote {
    border-left: 5px solid #303030;
}
.layui-breadcrumb span[lay-separator] {
    margin: 0 5px;
    color: #999;
}
.htitle span{
	color: #999;
}
.con_tilte { font-size: 22px; margin-top: 20px }
.con_nav { float: right; font-size: 14px; color: #666 }
.con_nav a { color: #666 }
.con_nav a:hover { color: #000 }
.con_info { color: #888888; border: 1px solid #F3F3F3; padding: 10px; margin: 10px auto 0; line-height: 23px; background: none repeat 0 0 #F6F6F6; }
.con_info b { margin-right: 10px; color: #000; }
.con_text { line-height: 24px; margin-top: 20px; }
.con_text a { color: #09C;word-break: break-all; }
.con_text a:hover { text-decoration: underline }
.con_text p { margin: 15px 0; }
.con_text img { display: block; max-width: 100% !important; height:auto !important;
margin: auto }
.price_info ul { padding-top: 15px; position: relative; overflow: hidden }
.price_info p { margin-bottom: 5px }
.price_info img { position: absolute; right: 20px; top: 0; width: 120px }
.diggit { display: block; width: 160px; margin: 20px auto; background: #E2523A; color: #fff; box-shadow: 1px 2px 6px 0px rgba(0,0,0,.2); border-radius: 3px; line-height: 40px; text-align: center; }
.diggit a { color: #fff }
.diggit a:hover { text-decoration: none }
.otherlink { margin: 10px 0; overflow: hidden }
.otherlink li { position: relative; line-height: 26px; height: 26px; display: block; width: 50%; float: left; overflow: hidden; }
.otherlink li a { display: block; margin-right: 30px; padding-left: 10px; }
.otherlink li a:hover { text-decoration: underline; color: #000 }
.otherlink li:before { position: absolute; content: ""; width: 3px; height: 3px; background: #000; border-radius: 10px; left: 0px; top: 12px; }
.nextinfo a { color: #000 }
.ad img { width: 100% }
.xiangsi { margin-top: 20px; overflow: hidden }
.xiangsi li { width: 25%; float: left; overflow: hidden; margin-bottom: 20px; padding-bottom: 10px; }
.xiangsi a { display: block; margin: 0 5px; padding-bottom: 10px; box-shadow: #ececec 0px 2px 5px; }
.xiangsi li i { display: block; overflow: hidden; height: 120px; margin-bottom: 10px; }
.xiangsi li i img { width: 100%; min-height: 120px; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; transition: all 0.5s; }
.xiangsi li i:hover img { transform: scale(1.1); }
.xiangsi li p { font-weight: bold; margin-bottom: 10px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 0 8px }
.xiangsi li span { color: #666; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display:block; -webkit-line-clamp: 3; font-size: 14px; height: 60px; padding: 0 8px }
./*timebox*/
.timebox { background: url(../images/abbg.png)/*tpa=http://jxhx2.yangqq.com/skin/jxhx/images/abbg.png*/ no-repeat right top #fff; ; padding: 30px }
.timebox ul { overflow: hidden; }
.timebox span { position: relative; line-height: 32px; padding-right: 40px; color: #999 }
.timebox span:after { position: absolute; content: ""; width: 2px; height: 40px; background: #e0dfdf; right: 18px }
.timebox li { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.timebox li i { position: relative; font-style: normal }
.timebox li i:before { content: " "; height: 10px; width: 10px; border: 2px solid #cccaca; background: #fff; position: absolute; top: 4px; left: -26px; border-radius: 50%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.timebox li:hover i:before { background: #080808 }
.pagelist.mt20 { margin-top: 20px; }

.saying { line-height: 30px; color: #a9a6a6; }
.saying span { float: right }
.saying span a { color: #de1513; }
img#plKeyImg { display: inline-block; width: auto;}
.yname { margin: 10px 10px 10px 0 }
.yname span, .yzm span { padding-right: 10px; }
.yzm { margin: 0 10px 10px 0 }
.gbox input[type="submit"] { display: block; background: #303030; color: #fff; border: 0; line-height: 30px; padding: 0 20px; border-radius: 5px; float: right; }
#plpost textarea#saytext { width: 100%; }
#plpost input[type="submit"] { display: block; background: #040404; color: #fff; border: 0; line-height: 30px; padding: 0 20px; border-radius: 5px; float: right; }
.gbox { padding: 0; overflow: hidden; }
.gbox p { margin-bottom: 10px; overflow: hidden; }
p.fbtime { color: #000; }
.fbtime span { float: right; color: #999; font-size: 12px; overflow: hidden; white-space: nowrap; }
p.fbinfo { margin: 10px 0; }
.fb ul { margin: 10px 0; padding: 20px 10px; border-bottom: #ececec 1px solid; }
span.tximg { display: block; float: left; margin-right: 10px; }
.gbox i { display: block; float: left; margin-right: 10px; }
.gbox i input { margin: 10px auto; display: block; }
.hf ul { padding: 10px 10px; background: #f9f9f9; }
.hf { padding-bottom: 20px; border-bottom: #dedddd 1px dashed; }
textarea#lytext { width: 99%; }
.gbox input[type="submit"] { display: block; background: #040404; color: #fff; border: 0; line-height: 30px; padding: 0 20px; border-radius: 5px; float: right; }
.ecomment { border: #dedcdc 1px solid; padding: 10px; margin-bottom: 10px; }
span.ecommentauthor { color: #b5b5b5; font-size: 14px; margin-bottom: 5px; display: block; }
.gbook .fb ul { margin: 10px 10px; padding: 10px 10px 10px 70px; border-bottom: #ececec 1px solid; }
/*about*/
.about { overflow: hidden; background: url(../images/abbg.png)/*tpa=http://jxhx2.yangqq.com/skin/jxhx/images/abbg.png*/ no-repeat right top #fff; padding: 20px 40px }
.ab_box { overflow: hidden; margin: 20px 0; }
.ab_box h3 { margin: 10px 0 10px; font-size: 18px; }
.ab_box p { color: #666; margin-bottom: 5px }
.avatar_pic { position: relative; float: left; margin-right: 10px; background: -webkit-linear-gradient(bottom left, rgba(0,153,255,.9), rgba(42,228,197,.7)); background: -o-linear-gradient(bottom left, rgba(0,153,255,.9), rgba(42,228,197,.7)); background: linear-gradient(to top right, rgba(0,153,255,.9), rgba(42,228,197,.7)); display: block; padding: 2px 2px 0px 2px; width: 100px; border-radius: 50%; }
.avatar_pic img { width: 100%; border-radius: 50%; }
.avatar_pic:before { position: absolute; content: ""; background: url(../images/v.png)/*tpa=http://jxhx2.yangqq.com/skin/jxhx/images/v.png*/ no-repeat; bottom: 0px; right: 10px; height: 24px; width: 24px; background-size: 24px; }
.ab_dubai { margin-bottom: 15px; display: inline-block; }
.ly_button { float: right; width: 100px; background: #000; text-align: center; border-radius: 3px; line-height: 30px }
.ly_button a { color: #FFF }
.gd_title { margin: 20px 0; font-size: 18px; background: url(../images/hline.png)/*tpa=http://jxhx2.yangqq.com/skin/jxhx/images/hline.png*/ no-repeat bottom right; width: 120px; clear: both; background-size: 40px; border-bottom: #000 1px dashed; padding-left: 10px; padding-bottom: 5px; display: inline-block; }
.xinlu li { width: 25%; float: left; overflow: hidden; margin-bottom: 20px }
.xinlu li a { display: block; margin: 0 10px; background: #f3f3f3; padding: 20px; }
.xinlu li i { display: block; overflow: hidden; height: 120px; margin-bottom: 10px }
.xinlu li i img { width: 100%; min-height: 120px; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; transition: all 0.5s; }
.xinlu li i:hover img { transform: scale(1.1); }
.xinlu li p { font-weight: bold; margin-bottom: 10px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;text-align: center; }
.xinlu li span { color: #666; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3; font-size: 14px; height: 62px; }
.myblog { overflow: hidden; clear: both }
.myblog li { width: 20%; float: left; display: block; text-align: center; padding-bottom: 10px; position: relative; overflow: hidden }
.myblog li:after { position: absolute; content: ""; right: 0; top: 0; background: #e9eaed; height: 100%; width: 1px; }
.myblog li:last-child:after { content: none }
.myblog li b { display: block; line-height: 30px; margin-bottom: 10px; }
.buttons { display: block; margin: 10px auto; width: 130px; text-align: center; background: #00c1de; padding: 5px 0; border-radius: 3px; color: #fff; }
.buttons:hover { color: #FFF }
.myblog li:nth-child(even) .buttons { background: #F60 }
.myblog p { margin-bottom: 10px }
.qq_join li { float: left; width: 25%; }
.qq_join li section { margin: 0 20px; box-shadow: #ccc 1px 1px 5px; padding: 10px; display: block; overflow: hidden }
.qq_join li img { width: 90%; margin: auto; background: -webkit-linear-gradient(bottom left, rgba(0,153,255,.9), rgba(42,228,197,.7)); background: -o-linear-gradient(bottom left, rgba(0,153,255,.9), rgba(42,228,197,.7)); background: linear-gradient(to top right, rgba(0,153,255,.9), rgba(42,228,197,.7)); display: block; padding: 5px; }
.qq_join li p { margin: 10px; }
.qq_join li b { color: #019881; margin: 0 5px; }
