/*
list.html
*/
.lanmu img { height: 100px;width: auto; float: left; margin-right: 20px }
.lanmu h1 { font-size: 22px; margin-bottom: 15px }
.lanmu p { color: #666 }
/*cloud*/
.cloud ul a { line-height: 24px;
    /*height: 24px; */
    display: block; background: #999; float: left; padding: 3px 10px; margin: 10px 5px 0 0; border-radius: 3px; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; color: #FFF }
.cloud ul a:nth-child(8n-7) { background: #8A9B0F }
.cloud ul a:nth-child(8n-6) { background: #EB6841 }
.cloud ul a:nth-child(8n-5) { background: #3FB8AF }
.cloud ul a:nth-child(8n-4) { background: #FE4365 }
.cloud ul a:nth-child(8n-3) { background: #FC9D9A }
.cloud ul a:nth-child(8n-2) { background: #EDC951 }
.cloud ul a:nth-child(8n-1) { background: #C8C8A9 }
.cloud ul a:nth-child(8n) { background: #83AF9B }
.cloud ul a:first-child { background: #036564 }
.cloud ul a:last-child { background: #3299BB }
.cloud ul a:hover { border-radius: 0; text-shadow: #000 1px 1px 1px }
/*pagelist*/
.pagelist { text-align: center; color: #666; width: 100%; clear: both; margin: 0 0 10px; }
.pagelist a { color: #666; margin: 0 5px 10px; padding: 5px 10px; background: #F7F7F7; display: inline-block; }
.pagelist a:hover, .pagelist > b { color: #3690cf; color: #FFF; background: #009688; }
.pagelist > b { padding: 5px 10px; }
a.curPage { color: #19585d; font-weight: bold; }
/*timebox*/
.timebox { background: url(../images/abbg.png) no-repeat right top #fff; ; padding: 30px }
.timebox ul { overflow: hidden; }
.timebox span { position: relative; line-height: 32px; padding-right: 40px; color: #999 }
.timebox span:after { position: absolute; content: ""; width: 2px; height: 40px; background: #e0dfdf; right: 20px }
.timebox li { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.timebox li i { position: relative; font-style: normal }
.timebox li i:before { content: " "; height: 13px!important; width: 13px!important; border: 2px solid #cccaca; background: #fff; position: absolute; top: 4px; left: -26px; border-radius: 50%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.timebox li:hover i:before { background: #080808 }

